<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Project One</title>
    <link rel="stylesheet" type="text/css" href="/static/vendor/semantic-ui/semantic.min.css">
    <link rel="stylesheet" herf="/static/style.css">
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="/static/vendor/react.js"></script>
    <script src="/static/vendor/react-dom.js"></script>
  </head>
  <body>
    <div class="main ui text container">
      <h1 class="ui dividing centered header">GPDB Chart</h1>
      <div id="content"></div>
    </div>

    <script type="text/babel" src="/static/js/client.js"></script>
    <script type="text/babel"
      data-plugins="transform-class-properties"
      data-presets="react, es2015,stage-2"
      src="/static/js/app.js">
    </script>

  </body>
</html>
